__pycache__/
*.py[cod]
*.pyc
*$py.class
*.so
.python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
.env
.envrc
.venv
env/
venv/
ENV/
*.log
.pytest_cache/
.ruff_cache/
.mypy_cache/
.streamlit/secrets.toml
